<template>
  <card>
    <h5 slot="header" class="title">Edit Profile</h5>
    <div class="row">
      <div class="col-md-5 pr-md-1">
        <label>Company</label>
        <input    class="form-control"
                  placeholder="Company"
                  v-model="model.company">
      </div>
      <div class="col-md-3 px-md-1">
        <label>Username</label>
        <input    class="form-control"
                  placeholder="Username"
                  v-model="model.username">
      </div>
      <div class="col-md-4 pl-md-1">
        <label>Email address</label>
        <input    class="form-control"
                  type="email"
                  placeholder="mike@email.com"
                  v-model="model.email">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 pr-md-1">
        <label>First Name</label>
        <input    class="form-control"
                  v-model="model.first_name"
                  placeholder="First Name">
      </div>
      <div class="col-md-6 pl-md-1">
        <label>Last Name</label>
        <input    class="form-control"
                  v-model="model.last_name"
                  placeholder="Last Name">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>Address</label>
        <input    class="form-control"
                  v-model="model.address"
                  placeholder="Home Address">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 pr-md-1">
        <label>City</label>
        <input    class="form-control"
                  v-model="model.city"
                  placeholder="City">
      </div>
      <div class="col-md-4 px-md-1">
        <label>Country</label>
        <input v-model="model.country"
                  class="form-control"
                  placeholder="Country">
      </div>
      <div class="col-md-4 pl-md-1">
        <label>Postal Code</label>
        <input    class="form-control"
                  placeholder="ZIP Code"
                  v-model="model.post_code">
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <base-input>
          <label>About Me</label>
          <textarea rows="4" cols="80"
                    class="form-control"
                    placeholder="Here can be your description"
                    v-model="model.about">

              </textarea>
        </base-input>
      </div>
    </div>
    <base-button @click="updateUser" slot="footer" type="primary" fill>Save</base-button>
  </card>
</template>
<script>
  export default {
    props: {
/*      model: {
        type: Object,
        default: () => {
          return {};
        }
      }
*/
    },
    computed: {
      model:{
        type: Object,
        get () {
          return this.$store.state.model
        },
        set (value) {
          this.$store.commit('updateModel', value)
        },
        about:{
          get () {
            return this.$store.state.model.about
          },
          set (value) {
//            console.log("Set >" + value)
            this.$store.commit('updateModelAbout', value)
          }
        },
        post_code:{
          get () {
            return this.$store.state.model.post_code
          },
          set (value) {
            this.$store.commit('updateModelPostCode', value)
          }
        },
        company:{
          get () {
            return this.$store.state.model.company
          },
          set (value) {
            this.$store.commit('updateModelCompany', value)
          }
        },
        username:{
          get () {
            return this.$store.state.model.username
          },
          set (value) {
            this.$store.commit('updateModelUsername', value)
          }
        },
        email:{
          get () {
            return this.$store.state.model.email
          },
          set (value) {
            this.$store.commit('updateModelEmail', value)
          }
        },
        firstName:{
          get () {
            return this.$store.state.model.first_name
          },
          set (value) {
            this.$store.commit('updateModelFirstName', value)
          }
        },
        lastName:{
          get () {
            return this.$store.state.model.last_name
          },
          set (value) {
            this.$store.commit('updateModelLastName', value)
          }
        },
        address:{
          get () {
            return this.$store.state.model.address
          },
          set (value) {
            this.$store.commit('updateModelAddress', value)
          }
        },
        city:{
          get () {
            return this.$store.state.model.city
          },
          set (value) {
            this.$store.commit('updateModelCity', value)
          }
        },
        country:{
          get () {
            return this.$store.state.model.country
          },
          set (value) {
            this.$store.commit('updateModelCountry', value)
          }
        },
      },
    },
    methods: {
      updateUser(){
//        console.log(this.model)
        this.$store.dispatch('update_user', this.model)
        .then(() =>{
//          console.log(this.model)
        })
        .catch(err => {
          this.error_p = err.toString()
        });
      },
    }
  }
</script>
<style>
</style>
