<template>
    <div class="row">
      <div class="col-md-12">
        <div v-if="error_p">
          <base-alert type="primary" dismissible>
            <span>{{ error_p }}</span>
          </base-alert>
        </div>
        <div v-if="loading">
          <base-alert type="primary" dismissible>
            <span> Загрузка... </span>
          </base-alert>
        </div>
        <div class="col-12">
          <card type="chart">
            <template slot="header">
              <div class="row">
                <div class="col-sm-2" :class="isRTL ? 'text-right' : 'text-left'">
                  <h5 class="card-category">График значений пинга</h5>
                  <h2 class="card-title">{{model.Ip}}</h2>
                </div>
                <div class="col-sm-10">
                  <div class="form-group col-sm-10">
                       <label class="control-label" for="vue-ip-input">Ip хоста </label>
                       <vue-ip-input  v-model="model.Ip"
                                     :on-change="onIpChange"
                                     :ip="model.Ip">
                       </vue-ip-input>
                       <base-button  size = "sm" type="secondary" fill @click="fetchData">Загрузить</base-button>
                  </div>
                </div>
              </div>
            </template>
            <div v-if="loaded" class="chart-area">
              <line-chart style="height: 100%"
                          ref="bigChart"
                          chart-id="big-line-chart"
                          :chart-data="get_chart_val"
                          :gradient-colors="bigLineChart.gradientColors"
                          :gradient-stops="bigLineChart.gradientStops"
                          :extra-options="bigLineChart.extraOptions">
              </line-chart>
            </div>
          </card>
        </div>
        <div v-if="loaded" class="row">
          <div class="col-lg-12 col-md-12">
            <card class="card" :header-classes="{'text-right': isRTL}">
              <h4 slot="header" class="card-title">Ping к {{model.Ip}}</h4>
              <div class="table-responsive">
                <pings-table
                       :data="this.pings"
                       :columns="table1.columns">
                </pings-table>
              </div>
            </card>
          </div>
        </div>
    </div>
  </div>
</template>
<script>
  import LineChart from '@/components/Charts/LineChart';
  import BarChart from '@/components/Charts/BarChart';
  import { BaseAlert } from '@/components';
  import * as chartConfigs from '@/components/Charts/config';
  import TaskList from './Dashboard/TaskList';
  import UserTable from './Dashboard/UserTable';
  import PingsTable from '@/components/PingsTable';
  import config from '@/config';
  import VueIpInput from 'vue-ip-input';
  const tableColumns = ["TimeBegin", "TimeEnd", "min_ping", "mid_ping", "max_ping", "mdev", "ploss"];
  export default {
    components: {
      LineChart,
      BarChart,
      BaseAlert,
      TaskList,
      UserTable,
      VueIpInput,
      PingsTable
    },
    data() {
      return {
        table1: {
          title: "Таблица значений ",
          columns: [...tableColumns],
//          data: []
  //        data: getNodes
        },
        bigLineChart: {
//          allData: [
//            [100, 70, 90, 70, 85, 60, 75, 60, 90, 80, 110, 100],
//            [80, 120, 105, 110, 95, 105, 90, 100, 80, 95, 70, 120],
//            [60, 80, 65, 130, 80, 105, 90, 130, 70, 115, 60, 190]
//          ],
          allData: this.pings_data_y,
          activeIndex: 0,
          chartData: null,
          extraOptions: chartConfigs.purpleChartOptions,
          gradientColors: config.colors.primaryGradient,
          gradientStops: [1, 0.4, 0],
          categories: []
        },
        loading: false,
//        loaded : false,
        error_p: "",
        pings : [],
        pings_data_y :[],
        pings_data_x :[],
      }
    },
    computed: {
      getNode(){
//        console.log(this.$store.state.nodes)
        return this.$store.state.node || this.node;
      },
      loaded(){
        if ( (this.error_p !=="") || (this.$store.state.pings.length == 0 ) ){
          return false
        }
        else {
          return true
        }
      },
      enableRTL() {
        return this.$route.query.enableRTL;
      },
      isRTL() {
        return this.$rtl.isRTL;
      },
      bigLineChartCategories() {
        return this.$t('dashboard.chartCategories');
      },
      get_chart_val(){
        this.bigLineChart.allData = [this.$store.state.chart_y, [], []];
//        console.log(this.bigLineChart.chartData);
        return this.bigLineChart.chartData;
      }
    },
    props: {
      model: {
        type: Object,
        default: () => {
          return {};
        }
      },
      selected :[]
    },
    created() {
    // загружаем данные, когда представление создано
    // и данные реактивно отслеживаются
//       this.model.Ip = this.$store.state.node.Ip || ""
       if (this.$store.state.pings.length == 0)
         this.bigLineChart.allData = []

       this.pings = this.$store.state.pings || [];
       this.model.Ip = this.$store.state.db_ip;
       for (var i = 0; i < this.pings.length; i += 1) {
         this.pings_data_y.push(this.pings[i].mdev);
         this.pings_data_x.push(this.pings[i].TimeEnd.split(".")[0]);
       }
       this.$store.state.chart_x = this.pings_data_x;
       this.$store.state.chart_y = this.pings_data_y;
       this.bigLineChart.allData = [this.pings_data_y,[],[]]
//       console.log(this.$store.state.chart_y)
//       this.bigLineChart.allData = [this.$store.state.chart_y,[],[]]
       this.initBigChart(0);
    },
    methods: {
      onIpChange: function(ip) {
            this.model.Ip = ip
            this.$store.state.db_ip = ip
      },
      fetchData(){
        this.error_p = ""
        this.loading = true
        this.bigLineChart.allData = []
        this.$store.dispatch('load_pings', this.model.Ip)
        .then(() =>{
            this.pings_data_y = []
            this.pings_data_x = []
            this.pings = this.$store.state.pings || []
            for (var i = 0; i < this.pings.length; i += 1) {
              this.pings_data_y.push(this.pings[i].mdev)
              this.pings_data_x.push(this.pings[i].TimeEnd.split(".")[0])
            }
            this.bigLineChart.allData = [this.pings_data_y,[],[]]
            this.$store.state.chart_x = this.pings_data_x;
            this.$store.state.chart_y = this.pings_data_y;
//            this.bigLineChart.allData = [this.$store.state.chart_y,[],[]]
//            console.log(this.$store.state.chart_y)
            this.loading = false
            this.initBigChart(0);
        })
        .catch(err => {
          this.loading = false
          this.error_p = err.toString()
          this.bigLineChart.allData = []
          this.$store.state.pings = []
          this.initBigChart(0);
        });
      },
      initBigChart(index) {
        let chartData = {
          datasets: [{
            fill: true,
            borderColor: config.colors.primary,
            borderWidth: 2,
            borderDash: [],
            borderDashOffset: 0.0,
            pointBackgroundColor: config.colors.primary,
            pointBorderColor: 'rgba(255,255,255,0)',
            pointHoverBackgroundColor: config.colors.primary,
            pointBorderWidth: 20,
            pointHoverRadius: 4,
            pointHoverBorderWidth: 15,
            pointRadius: 4,
            data: this.bigLineChart.allData[index]
          }],
//          labels: ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],
          labels: this.pings_data_x,
        }
//!!        this.$refs.bigChart.updateGradients(chartData);
        this.bigLineChart.chartData = chartData;
        this.bigLineChart.activeIndex = index;
      }
    },
    mounted() {
      this.i18n = this.$i18n;
      if (this.enableRTL) {
        this.i18n.locale = 'ar';
        this.$rtl.enableRTL();
      }
      this.initBigChart(0);
    },
    beforeDestroy() {
      if (this.$rtl.isRTL) {
        this.i18n.locale = 'en';
        this.$rtl.disableRTL();
      }
    }
  };
</script>
<style>
</style>
