<template>
  <div id='login'>
          <h3 class="text-center text-white pt-5"></h3>
          <div class="container">
              <div id="login-row" class="row justify-content-center align-items-center">
                  <div id="login-column" class="col-md-6">
                      <div id="login-box" class="col-md-12">
                          <form id="login-form" class="form" @submit.prevent="login">
                              <h3 class="text-center text-info">Вход</h3>
                              <div class="form-group">
                                  <label for="email" class="text-info">E-mail:</label><br>
<!--                                  <input required v-model="email" type="email" placeholder="email"/> -->
                                      <input v-model="email" type="email" placeholder="email"/>
                              </div>
                              <h4> Или </h4>
                              <div class="form-group">
                                  <label for="phone" class="text-info">Телефонный номер:</label><br>
                                  <VuePhoneNumberInput v-model="phone" />
                              </div>

                              <div class="form-group">
                                  <label for="password" class="text-info">Пароль:</label><br>
                                  <input required v-model="password" type="password" placeholder="Пароль"/>
                              </div>
                              <div class="form-group">
                                  <label for="remember-me" class="text-info"><span>Запомнить меня</span>&nbsp;<span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                  <input type="submit" name="submit" class="btn btn-info btn-md" value="Войти">
                                  <span> Незарегистрированы? -> </span><router-link to="/reg" class="text-info"> Зарегистрироваться ;)</router-link>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</template>
<script>
  import config from '@/config';
  import VuePhoneNumberInput from 'vue-phone-number-input';
  import 'vue-phone-number-input/dist/vue-phone-number-input.css';
  export default {
    components: {
      VuePhoneNumberInput
    },
    data() {
      return {
        phone: "",
        email : "",
        password : "",
        u_login:"",
        uid:"email"
      }
    },
    computed: {
    },
    methods: {
      login: function () {
        let login = ""
        let uid = ""
        if (this.phone){
          login = this.phone
          uid = "phone"
        }
        else {
          login = this.email
          uid = "email"
        }
        let password = this.password
        this.$store.dispatch('login', { login, uid, password })
       .then(() => this.$router.push('/home/dashboard'))
      //       .catch(err => console.log(err))
       .catch(err => this.$router.push('/'))
    },
    mounted() {
      this.i18n = this.$i18n;
    },
    beforeDestroy() {
    }
  }
}
</script>
<style>
</style>
