<template>
    <div class="row">
      <div class="col-md-12">
        <div v-if="errorMsg">
          <base-alert type="primary" dismissible>
            <span>{{ errorMsg }}</span>
          </base-alert>
        </div>
        <div v-if="loading">
          <base-alert type="primary" dismissible>
            <span> Загрузка... </span>
          </base-alert>
        </div>
      </div>
      <div v-if="loaded" class="col-12">
         <simple-flowchart :scene.sync="nodemap"></simple-flowchart>
      </div>
    </div>
</template>
<script>
import EditNodeForm from './Node/EditNodeForm';
import {BaseAlert}  from '@/components';
//import SimpleFlowchart from 'vue-simple-flowchart';
import SimpleFlowchart from '@/components/SimpleFlowchart.vue'
import 'vue-simple-flowchart/dist/vue-flowchart.css';

export default {
  components: {
    BaseAlert,
    SimpleFlowchart
  },
    data() {
        return {
          nodesLoaded: false,
          groupsLoaded: false,
          dataLoaded: false,
          nodesLoading: false,
          groupsLoading: false,
          dataLoading: false,
          node:{
              ip:"127.0.0.1",
              group:"Test1"
            },
          errorMsg: null,
          nodemap: {
                centerX: 1024,
                centerY: 140,
                scale: 1,
                nodes:{},
                links:{}
          },
        }
  },
  computed: {
      getMap(){
        return this.nodemap
      },
      loading(){
//        console.log("Loading: "+ (this.nodesLoading || this.groupsLoading || this.dataLoading))
        return (this.nodesLoading || this.groupsLoading || this.dataLoading)
      },
      loaded(){
//        console.log("Loaded: " + (this.nodesLoaded && this.groupsLoaded && this.dataLoaded))
        return (this.nodesLoaded && this.groupsLoaded && this.dataLoaded)
      },
    },
  beforeCreate(){
  },
  created() {
    // загружаем данные
      this.fetchData()
      this.getMapNodes()
  },
  mounted() {
    this.startTimer();
  },
  methods: {
    fetchData() {
      this.errorMsg = null
      this.nodesLoading = true
      this.groupsLoading = true
      this.dataLoading = true
      this.nodesLoaded = false
      this.groupsLoaded = false
      this.dataLoaded = false
      // замените `getPost` используемым методом получения данных / доступа к API
      this.$store.dispatch('load_nodes')
      .then(() =>{
          this.nodesLoading = false
          this.nodesLoaded = true
      })
      .catch(err => {
        this.errorMsg = err.toString()
      });
      this.$store.dispatch('load_groups')
      .then(() =>{
          this.groupsLoading = false
          this.groupsLoaded = true
      })
      .catch(err => {
        this.errorMsg = err.toString()
      });
    },
    getMapNodes(){
      this.$store.dispatch('srv_get_last_data')
      .then(() =>{
          this.dataLoading = false
          this.dataLoaded = true
          var values = this.$store.state.last_data
//          console.log(values)
          let serverUp = false
          if (this.$store.state.srv_status) {
            serverUp = true
          }
          var mapnodes = [{id: 2,
                          x: -700,
                          y: -100,
                          type: 'Server',
                          label: '',
                          label1: '',
                          nodeIsUp: serverUp,}]
          var linksnodes = []
          var k = 3;
          var date = ""
          var time = ""
          for (var i = 0; i < this.$store.state.last_data.length; i+=1){
            try {
               date = this.$store.state.last_data[i].nodepings.TimeEnd.split(".")[0].split("T")[0]
               time = this.$store.state.last_data[i].nodepings.TimeEnd.split(".")[0].split("T")[1]
            }
            catch (e) {
              date = ""
              time = ""
            }
            var nodeIsUp = false
            if (this.$store.state.last_data[i].nodepings.ploss !== 100) {
              nodeIsUp = true
            }
            mapnodes.push({
                          id: k,
                          x: -900+(i*150),
                          y: 100,
                          type: this.$store.state.last_data[i].Ip,
                          label:
                             date + ", " + time,
                          label1: "Min  : " + this.$store.state.last_data[i].nodepings.min_ping,
                          label2: "Mid  : " + this.$store.state.last_data[i].nodepings.mid_ping,
                          label3: "Max  : " + this.$store.state.last_data[i].nodepings.max_ping,
                          label4: "Mdev : " + this.$store.state.last_data[i].nodepings.mdev,
                          label5: "PLoss: " + this.$store.state.last_data[i].nodepings.ploss,
                          nodeIsUp: nodeIsUp,
                        })
            linksnodes.push({
                            id: k,
                            from: 2, // node id the link start
                            to: k
                          })
            k += 1
          }
          this.nodemap.nodes = mapnodes;
          this.nodemap.links = linksnodes;
      })
    },
    stopTimer () {
        if (this.interval) {
          window.clearInterval(this.interval)
        }
    },
    startTimer () {
        this.stopTimer()
          this.interval = window.setInterval(() => {
          this.getMapNodes()
        }, 30000)
    }
  },
  beforeDestroy() {
      this.stopTimer();
  }
}
</script>
<style>
</style>
