<template>
    <div class="row">
      <div class="col-md-12">
        <div v-if="loading">
          <base-alert type="primary" dismissible>
            <span> Загрузка... </span>
          </base-alert>
        </div>
        <div v-if="error_p">
          <base-alert type="primary" dismissible>
            <span>{{ error_p }}</span>
          </base-alert>
        </div>
      </div>
      <div class="col-12">
        <card :title="table1.title">
          <div class="table-responsive">
             <!--table1.data -->
            <node-table :data="getNodes"
                        :columns="table1.columns"
                        thead-classes="text-primary">
            </node-table>
          </div>
        </card>
      </div>
      <div class="col-12">
         <edit-node-form :model='getNode'></edit-node-form>
      </div>

    </div>
</template>
<script>
import EditNodeForm from './Node/EditNodeForm';
import { BaseAlert, BaseTable, NodeTable } from '@/components';
const tableColumns = ["Ip", "Wpc", "Wst", "enabled", "groups", "Удалить"];
const tableData = [
  {ip: '127.0.0.1', wst:1, wpc: 3, enabled: 'True', groups: [1]},
  {ip: '127.0.0.2', wst:2, wpc: 3, enabled: 'True', groups: [2]}
];

export default {
  components: {
    NodeTable,
    BaseAlert,
    BaseTable,
    EditNodeForm
  },
    data() {
    return {
      table1: {
        title: "Таблица хостов",
        columns: [...tableColumns],
//        data: [...tableData]
//        data: getNodes
      },
      node:{
        ip:"127.0.0.1",
        group:"Test1"
      },
      loading: false,
      loaded : false,
      error_p: null
    }
  },
  computed: {
      getNodes(){
//        console.log(this.$store.state.nodes)
        return this.$store.state.nodes;
      },
      getNode(){
//        console.log(this.$store.state.nodes)
        return this.$store.state.node || this.node;
      },
      getGroups(){
//        console.log(this.$store.state.nodes)
        return this.$store.state.groups;
      },
    },
  created() {
  // загружаем данные, когда представление создано
  // и данные реактивно отслеживаются
    this.fetchData()
  },
  methods: {
    fetchData() {
      this.error_p = null
      this.loading = true
      this.loaded = false
      // замените `getPost` используемым методом получения данных / доступа к API
      this.$store.dispatch('load_nodes')
      .then(() =>{
          this.loading = false
          this.loaded = true
      })
      .catch(err => {
        this.error_p = err.toString()
      });
      this.$store.dispatch('load_groups')
      .then(() =>{
          this.loading = false
          this.loaded = true
      })
      .catch(err => {
        this.error_p = err.toString()
      });
    }
  }
}
</script>
<style>
</style>
