<template>
    <div class="row">
      <div class="col-12">
        <card :title="table1.title">
          <div class="table-responsive">
            <node-groups-table :data="getGroups"
                        :columns="table1.columns"
                        thead-classes="text-primary">
            </node-groups-table>
          </div>
        </card>
      </div>
      <div class="col-12">
         <edit-node-group-form :model= 'getGroup' ></edit-node-group-form>
      </div>
    </div>
</template>
<script>
import { NodeGroupsTable } from "@/components";
import EditNodeGroupForm from './Node/EditNodeGroupForm';
const tableColumns = ["Группа", "Описание", "UID", "Удалить"];
const tableData = [
  {}
];

export default {
  components: {
    NodeGroupsTable,
    EditNodeGroupForm
  },
  data() {
    return {
      table1: {
        title: "Группы хостов",
        columns: [...tableColumns],
        data: [...tableData]
      },
      test_model: {
        group_name:"test1",
        descr:"For test"
      }
    };
  },
  computed: {
    getGroups(){

      var i = 0
      this.table1.data = []
      while ( i < this.$store.state.groups.length ) {
        this.table1.data.push(this.$store.state.groups[i]);
        i = i + 1;
      }
//      console.log(this.table1.data)
      return this.table1.data;
    },
    getGroup(){
//        console.log(this.$store.state.nodes)
      return this.$store.state.group;
    },
  },
  created() {
  // загружаем данные, когда представление создано
  // и данные реактивно отслеживаются
    this.fetchData()
  },
  methods: {
    fetchData() {
      this.error_p = null
      this.loading = true
      this.loaded = false
      // замените `getPost` используемым методом получения данных / доступа к API
      this.$store.dispatch('load_groups')
      .then(() =>{
          this.loading = false
          this.loaded = true
      })
      .catch(err => {
        this.error_p = err.toString()
      });
    }
  }
};
</script>
<style>
</style>
