<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div v-if="loading">
          <base-alert type="primary" dismissible>
            <span> Загрузка... </span>
          </base-alert>
        </div>
        <div v-if="error_p">
          <base-alert type="primary" dismissible>
            <span>{{ error_p }}</span>
          </base-alert>
        </div>
      </div>
    </div>
    <div v-if="loaded" class="row align-items-start">
        <div class="col-md-8">
           <edit-profile-form :model="getModel"></edit-profile-form>
        </div>
        <div class="col-md-4">
           <user-card :user="getUser"></user-card>
        </div>
    </div>
</div>


</template>
<script>
  import EditProfileForm from './Profile/EditProfileForm';
  import UserCard from './Profile/UserCard'
  import { BaseAlert } from '@/components';
  export default {
    components: {
      EditProfileForm,
      UserCard,
      BaseAlert
    },
    data() {
      return {
        loading: false,
        loaded : false,
        error_p: null,
      }
    },
    computed: {
        getUser(){
          return this.$store.state.user;
        },
        getModel(){
          return this.$store.state.model;
        }
      },

    created() {
    // загружаем данные, когда представление создано
    // и данные реактивно отслеживаются
      this.fetchData()
    },
    methods: {
      fetchData() {
        this.error_p = null
        this.loading = true
        this.loaded = false
        // замените `getPost` используемым методом получения данных / доступа к API
        this.$store.dispatch('load_user')
        .then(() =>{
            this.loading = false
            this.loaded = true
        })
        .catch(err => {
          this.error_p = err.toString()
        })
      },


    }
}
</script>
<style>
</style>
