<template>
  <div id='register'>
          <h3 class="text-center text-white pt-5"></h3>
          <div class="container">
            <div v-if="error_r">
              <base-alert type="primary" dismissible>
                <span>{{err_msg}}</span>
              </base-alert>
            </div>
              <div id="login-row" class="row justify-content-center align-items-center">
                  <div id="login-column" class="col-md-6">
                      <div id="login-box" class="col-md-12">
                          <form id="login-form" class="form" @submit.prevent="register">
                              <h3 class="text-center text-info">Регистрация</h3>
                              <div class="form-group">
                                  <label for="email" class="text-info">E-mail:</label><br>
<!--                                  <input required v-model="email" type="email" placeholder="email"/> -->
                                  <input v-model="email" type="email" placeholder="email"/>
                              </div>
                              <h4> Или </h4>
                              <div class="form-group">
                                  <label for="phone" class="text-info">Телефонный номер:</label><br>
                                  <VuePhoneNumberInput v-model="phone" />
                              </div>
                              <div>---------------------------------------------</div>
                              <div class="form-group">
                                  <label for="password" class="text-info">Пароль:</label><br>
                                  <input required v-model="password" type="password" placeholder="Password"/>
                              </div>
                              <div>
                                  <label for="password-confirm" class="text-info">Подтверждение пароля:</label><br>
                                  <input id="password-confirm" type="password" v-model="password_confirmation" placeholder="Password confirm" required>
                              </div>
                              <div>---------------------------------------------</div>
                              <div class="form-group">
                                  <input type="submit" name="submit" class="btn btn-info btn-md" value="Зарегистрироваться">
                                  <router-link to="/" class="text-info"> Вернуться</router-link>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</template>
<script>
  import config from '@/config';
  import { BaseAlert } from '@/components';
  import VuePhoneNumberInput from 'vue-phone-number-input';
  import 'vue-phone-number-input/dist/vue-phone-number-input.css';
  export default {
    components: {
      BaseAlert,
      VuePhoneNumberInput
    },
    data() {
      return {
//        name : "",
        email : "",
        phone: "",
        password : "",
        password_confirmation : "",
        uid:"email",
//        is_admin : null,
        error_r : false,
        err_mgs: "",
        u_login:""
      }
    },
    computed: {
    },
    methods: {
      register: function () {
        if ((this.password !== this.password_confirmation)) {
          this.error_r = true
          this.err_msg = "Пароли не совпадают"
//          this.$router.push('/reg')
        }
        else
        {
          this.error_r = false
          if (this.phone) {
            this.uid = "phone"
            this.u_login = this.phone
          }
          else {
            this.u_login = this.email
          }
//          console.log(this.phone)
//          console.log(this.u_login)
          let data = {
//            name: this.name,
            login: this.u_login,
            password: this.password,
            uid: this.uid
//            is_admin: this.is_admin
          }
          this.$store.dispatch('register', data)
         .then(() =>
          {
              this.$store.dispatch('login', data)
              .then(() => {
                this.$router.push('/home')
              })
              .catch(err => {
                this.$router.push('/reg')
              })
          })
        //       .catch(err => console.log(err))
         .catch(err => {
           this.error_r = true
           this.err_msg = this.$store.state.isError
           this.u_login = ""
           this.$router.push('/reg')
         })
        }
    },
    mounted() {
//      this.i18n = this.$i18n;
    },
    beforeDestroy() {
    }
  }
}
</script>
<style>
</style>
