<template>
  <footer class="footer">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" :href=homesite>
            Test team
          </a>
        </li>
      </ul>
      <div class="copyright">
        © {{year}} made with by Tt
      </div>
    </div>
  </footer>
</template>
<script>
export default {
    data() {
      return {
        year: new Date().getFullYear(),
        homesite: "http://127.0.0.1:8080/"
      }
    }
  };
</script>
<style>
</style>
