<template>
  <nav class="navbar navbar-expand-lg navbar-absolute"
       :class="{'bg-white': showMenu, 'navbar-transparent': !showMenu}">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <div class="navbar-toggle d-inline" :class="{toggled: $sidebar.showSidebar}">
          <button type="button"
                  class="navbar-toggler"
                  aria-label="Navbar toggle button"
                  @click="toggleSidebar">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
        </div>
        <a class="navbar-brand" href="#pablo">{{routeName}}</a>
      </div>
      <button class="navbar-toggler" type="button"
              @click="toggleMenu"
              data-toggle="collapse"
              data-target="#navigation"
              aria-controls="navigation-index"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
      </button>

      <collapse-transition>
        <div class="collapse navbar-collapse show" v-show="showMenu">
          <ul class="navbar-nav" :class="$rtl.isRTL ? 'mr-auto' : 'ml-auto'">
            <div class="search-bar input-group" @click="searchModalVisible = true">
              <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal">
                <i class="tim-icons icon-zoom-split"></i>
              </button>
              <!-- You can choose types of search input -->
            </div>
            <modal :show.sync="searchModalVisible"
                   class="modal-search"
                   id="searchModal"
                   :centered="false"
                   :show-close="true">
              <input slot="header" v-model="searchQuery" type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
            </modal>
            <base-dropdown tag="li"
                           :menu-on-right="!$rtl.isRTL"
                           title-tag="a" class="nav-item">
              <a slot="title" href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="true">
                <div v-bind:class= "classSrvChk"></div>
                <i class="tim-icons icon-sound-wave"></i>
                <p class="d-lg-none">
                  New Notifications
                </p>
              </a>
              <li class="nav-link">
                <a href="#" @click="reload_png_srv" class="nav-item dropdown-item">Reload ping server </a>
              </li>
              <li class="nav-link">
                <a href="#" @click="stop_png_srv" class="nav-item dropdown-item">Stop ping server</a>
              </li>
            </base-dropdown>
            <base-dropdown tag="li"
                           :menu-on-right="!$rtl.isRTL"
                           title-tag="a"
                           class="nav-item"
                           menu-classes="dropdown-navbar">
              <a slot="title" href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="true">
                <div class="photo">
                  <img src="/img/anime3.png">
                </div>
                <b class="caret d-none d-lg-block d-xl-block"></b>
                <p class="d-lg-none">
                  Log out
                </p>
              </a>
              <li class="nav-link">
<!--                <a href="/#profile" class="nav-item dropdown-item"> Profile </a> -->
                <router-link to="profile" class="nav-item dropdown-item">Profile</router-link>
              </li>
              <li class="nav-link">
                <a href="#" class="nav-item dropdown-item">Settings</a>
              </li>
              <div class="dropdown-divider"></div>
              <li class="nav-link">
                <a href="#" @click="logout"  class="nav-item dropdown-item">Log out</a>
<!--                <router-link to="#" @click="logout" class="nav-item dropdown-item">Logout</router-link> -->
<!--                <button @click="logout">Logout</button> -->
              </li>
            </base-dropdown>
          </ul>
        </div>
      </collapse-transition>
    </div>
  </nav>
</template>
<script>
  import { CollapseTransition } from 'vue2-transitions';
  import Modal from '@/components/Modal';

  export default {
    components: {
      CollapseTransition,
      Modal
    },
    computed: {
      routeName() {
        const { name } = this.$route;
        return this.capitalizeFirstLetter(name);
      },
      isRTL() {
        return this.$rtl.isRTL;
      },
      classSrvChk: function () {
        if (this.$store.state.srv_status)
             return 'notification_gr d-none d-lg-block d-xl-block'
        else
             return 'notification d-none d-lg-block d-xl-block'
      }
    },
    data() {
      return {
        activeNotifications: false,
        showMenu: false,
        searchModalVisible: false,
        searchQuery: '',
        interval:""
      };
    },
    methods: {
      logout(){
//        console.log('Logout')
        this.$store.dispatch('logout')
        this.$router.push('/')
      },
      reload_png_srv(){
//        console.log('reload_png_srv')
        this.$store.dispatch('srv_post_cmd','3')
      },
      stop_png_srv(){
//        console.log('stop_png_srv')
        this.$store.dispatch('srv_post_cmd','0')
      },
      capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
      },
      toggleNotificationDropDown() {
        this.activeNotifications = !this.activeNotifications;
      },
      closeDropDown() {
        this.activeNotifications = false;
      },
      toggleSidebar() {
        this.$sidebar.displaySidebar(!this.$sidebar.showSidebar);
      },
      hideSidebar() {
        this.$sidebar.displaySidebar(false);
      },
      toggleMenu() {
        this.showMenu = !this.showMenu;
      },
      getNow: function() {
          const today = new Date();
          const date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
          const time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
          const dateTime = date +' '+ time;
          return dateTime;
      },
      getCounters () {
      this.$store.dispatch('srv_get_alive')
      .then((resp) =>{
          var srv_last_work_time = this.$store.state.srv_alive.TimeChk.split(".")[0]
//          console.log( "Vuex srv_alive = " + srv_last_work_time)
          const today = new Date();
          const date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
          const time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
          const dateTime = date +'T'+ time;
          const dp = Date.parse(srv_last_work_time)
          var time_diff_s = (today-dp)/1000
          if (time_diff_s > 60) {
//             console.log(time_diff_s + " : server offline")
             this.$store.state.srv_status = false;
          }
          else {
//             console.log(time_diff_s + " : server online");
             this.$store.state.srv_status = true;
          }

        })
        .catch((err) => {
          this.Error = 'Нет ответа от сервера'
        })
      },
      stopTimer () {
          if (this.interval) {
            window.clearInterval(this.interval)
          }
      },
      startTimer () {
          this.stopTimer()
            this.interval = window.setInterval(() => {
            this.getCounters()
          }, 30000)
      }
    },
    mounted() {
      this.startTimer();
    },
    beforeDestroy() {
        this.stopTimer();
    }
  };
</script>
<style>
</style>
