<template>
  <div v-bind:class="flowchartStyle"
       :style="nodeStyle"
    @mousedown="handleMousedown"
    @mouseover="handleMouseOver"
    @mouseleave="handleMouseLeave">
    <div class="node-port node-input"
       @mousedown="inputMouseDown"
       @mouseup="inputMouseUp">
    </div>
    <div class="node-main">
      <div v-text="type" class="node-type"></div>
      <div v-text="label" class="node-label"></div>
      <div v-text="label1" class="node-label"></div>
      <div v-text="label2" class="node-label"></div>
      <div v-text="label3" class="node-label"></div>
      <div v-text="label4" class="node-label"></div>
      <div v-text="label5" class="node-label"></div>
    </div>
    <div class="node-port node-output"
      @mousedown="outputMouseDown">
    </div>
    <div v-show="show.delete" class="node-delete">&times;</div>
  </div>
</template>

<script>
export default {
  name: 'FlowchartNode',
  props: {
    id: {
      type: Number,
      default: 1000,
      validator(val) {
        return typeof val === 'number'
      }
    },
    x: {
      type: Number,
      default: 0,
      validator(val) {
        return typeof val === 'number'
      }
    },
    y: {
      type: Number,
      default: 0,
      validator(val) {
        return typeof val === 'number'
      }
    },
    type: {
      type: String,
      default: 'Default'
    },
    nodeIsUp:{
      type: Boolean,
      default: false
    },
    label: {
      type: String,
      default: 'input name'
    },
    label1: {
      type: String,
      default: ''
    },
    label2: {
      type: String,
      default: ''
    },
    label3: {
      type: String,
      default: ''
    },
    label4: {
      type: String,
      default: ''
    },
    label5: {
      type: String,
      default: ''
    },
    options: {
      type: Object,
      default() {
        return {
          centerX: 1024,
          scale: 1,
          centerY: 140,
        }
      }
    }
  },
  data() {
    return {
      show: {
        delete: false,
      }
    }
  },
  mounted() {
  },
  computed: {
    nodeStyle() {
      return {
        top: this.options.centerY + this.y * this.options.scale + 'px', // remove: this.options.offsetTop +
        left: this.options.centerX + this.x * this.options.scale + 'px', // remove: this.options.offsetLeft +
        transform: `scale(${this.options.scale})`,
      }
    },
    flowchartStyle: function() {
      return {
        'flowchart-node_grn': this.$store.state.srv_status && (this.nodeIsUp===true),
        'flowchart-node_red': this.$store.state.srv_status && (this.nodeIsUp===false),
        'flowchart-node': !this.$store.state.srv_status,
//        'selected': this.options.selected === id,
      }
    },
  },
  methods: {
    handleMousedown(e) {
      const target = e.target || e.srcElement;
      // console.log(target);
      if (target.className.indexOf('node-input') < 0 && target.className.indexOf('node-output') < 0) {
        this.$emit('nodeSelected', e);
      }
      e.preventDefault();
    },
    handleMouseOver() {
      this.show.delete = true;
    },
    handleMouseLeave() {
      this.show.delete = false;
    },
    outputMouseDown(e) {
      this.$emit('linkingStart')
      e.preventDefault();
    },
    inputMouseDown(e) {
      e.preventDefault();
    },
    inputMouseUp(e) {
      this.$emit('linkingStop')
      e.preventDefault();
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
$themeColor_def: rgb(255, 136, 85);
$themeColor_red: rgb(255, 0, 0);
$themeColor_grn: rgb(0, 255, 0);
$portSize: 12;
$width: 100px;
$height: 100px;
$font-size: 12px;
$font-size_label: 9px;

.flowchart-node {
  margin: 0;
  width: $width;
  height: $height;
  position: absolute;
  box-sizing: border-box;
  border: none;
  background: white;
  z-index: 1;
  opacity: .9;
  cursor: move;
  transform-origin: top left;
  .node-main {
    text-align: center;
    .node-type {
      background: $themeColor_def;
      color: white;
      font-size: $font-size;
      padding: 2px;
    }
    .node-label {
      font-size: $font-size_label;
      text-align: left;
      width: 100%;
      padding-left: 2px;
    }
  }
  .node-port {
    position: absolute;
    width: #{$portSize}px;
    height: #{$portSize}px;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid #ccc;
    border-radius: 100px;
    background: white;
    &:hover {
      background: $themeColor_def;
      border: 1px solid $themeColor_def;
    }
  }
  .node-input {
    top: #{-2+$portSize/-2}px;
  }
  .node-output {
    bottom: #{-2+$portSize/-2}px;
  }
  .node-delete {
    position: absolute;
    right: -6px;
    top: -6px;
    font-size: 12px;
    width: 12px;
    height: 12px;
    color: $themeColor_def;
    cursor: pointer;
    background: white;
    border: 1px solid $themeColor_def;
    border-radius: 100px;
    text-align: center;
    &:hover{
      background: $themeColor_def;
      color: white;
    }
  }
}
.flowchart-node_red {
  margin: 0;
  width: $width;
  height: $height;
  position: absolute;
  box-sizing: border-box;
  border: none;
  background: white;
  z-index: 1;
  opacity: .9;
  cursor: move;
  transform-origin: top left;
  .node-main {
    text-align: center;
    .node-type {
      background: $themeColor_red;
      color: white;
      font-size: $font-size;
      padding: 2px;
    }
    .node-label {
      font-size: $font-size_label;
      text-align: left;
      width: 100%;
      padding-left: 2px;
    }
  }
  .node-port {
    position: absolute;
    width: #{$portSize}px;
    height: #{$portSize}px;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid #ccc;
    border-radius: 100px;
    background: white;
    &:hover {
      background: $themeColor_red;
      border: 1px solid $themeColor_red;
    }
  }
  .node-input {
    top: #{-2+$portSize/-2}px;
  }
  .node-output {
    bottom: #{-2+$portSize/-2}px;
  }
  .node-delete {
    position: absolute;
    right: -6px;
    top: -6px;
    font-size: 12px;
    width: 12px;
    height: 12px;
    color: $themeColor_red;
    cursor: pointer;
    background: white;
    border: 1px solid $themeColor_red;
    border-radius: 100px;
    text-align: center;
    &:hover{
      background: $themeColor_red;
      color: white;
    }
  }
}
.flowchart-node_grn {
  margin: 0;
  width: $width;
  height: $height;
  position: absolute;
  box-sizing: border-box;
  border: none;
  background: white;
  z-index: 1;
  opacity: .9;
  cursor: move;
  transform-origin: top left;
  .node-main {
    text-align: center;
    .node-type {
      background: $themeColor_grn;
      color: white;
      font-size: $font-size;
      padding: 2px;
    }
    .node-label {
      font-size: $font-size_label;
      text-align: left;
      width: 100%;
      padding-left: 2px;
    }
  }
  .node-port {
    position: absolute;
    width: #{$portSize}px;
    height: #{$portSize}px;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid #ccc;
    border-radius: 100px;
    background: white;
    &:hover {
      background: $themeColor_grn;
      border: 1px solid $themeColor_grn;
    }
  }
  .node-input {
    top: #{-2+$portSize/-2}px;
  }
  .node-output {
    bottom: #{-2+$portSize/-2}px;
  }
  .node-delete {
    position: absolute;
    right: -6px;
    top: -6px;
    font-size: 12px;
    width: 12px;
    height: 12px;
    color: $themeColor_grn;
    cursor: pointer;
    background: white;
    border: 1px solid $themeColor_grn;
    border-radius: 100px;
    text-align: center;
    &:hover{
      background: $themeColor_grn;
      color: white;
    }
  }
}
.selected {
  box-shadow: 0 0 0 2px $themeColor_def;
}
</style>
