<template>
  <table class="table tablesorter" :class="tableClass">
    <thead :class="theadClasses">
    <tr>
      <slot name="columns">
        <th v-for="column in columns" :key="column">{{column}}</th>
      </slot>
    </tr>
    </thead>
    <tbody :class="tbodyClasses">
    <tr v-for="(item, index) in data" :key="index">
      <slot :row="item">
        <td v-for="(column, index) in columns"
            :key="index">
<!--            v-if="hasValue(item, column)"> -->
           <div v-if = "column === 'Ip'">
             <a href="#" @click="load_node(item)">{{itemValue(item, column)}}</a>
          </div>
          <div v-else-if = "column === 'Удалить'">
            <a href="#" @click="delete_node(item)">Удалить</a>
         </div>
          <div v-else-if = "column === 'groups'">
            <div v-for="grp in itemValue(item, column)" :key="grp.GName">
              {{grp.GName}}
            </div>
         </div>
         <div v-else>
           {{itemValue(item, column)}}
        </div>
        </td>
      </slot>
    </tr>
    </tbody>
  </table>
</template>
<script>
  export default {
    name: 'NodeTable',
    props: {
      columns: {
        type: Array,
        default: () => [],
        description: "Table columns"
      },
      data: {
        type: Array,
        default: () => [],
        description: "Table data"
      },
      type: {
        type: String, // striped | hover
        default: "",
        description: "Whether table is striped or hover type"
      },
      theadClasses: {
        type: String,
        default: '',
        description: "<thead> css classes"
      },
      tbodyClasses: {
        type: String,
        default: '',
        description: "<tbody> css classes"
      }
    },
    computed: {
      tableClass() {
        return this.type && `table-${this.type}`;
      },
    },
    methods: {
      hasValue(item, column) {
        return item[column.toLowerCase()] !== "undefined";
      },
      load_node(item){
//        console.log(item)
        this.$store.state.node = item;
      },
      delete_node(item){
        this.$store.state.node = item
        this.$store.dispatch('delete_node', item)
        .then(() =>{
              this.data = this.$store.state.nodes
//            this.loading = false
//            this.loaded = true
        })
        .catch(err => {
          this.error_p = err.toString()
        });
      },
      itemValue(item, column) {
        if (column !=="Ip") {
           return item[column];//.toLowerCase()];
         }
         else
          return item[column]; //.toLowerCase()];
      }
    }
  };
</script>
<style>
</style>
