<template>
  <table class="table tablesorter" :class="tableClass">
    <thead :class="theadClasses">
    <tr>
      <slot name="columns">
        <th v-for="column in columns" :key="column">{{column}}</th>
      </slot>
    </tr>
    </thead>
    <tbody :class="tbodyClasses">
    <tr v-for="(item, index) in data" :key="index">
      <slot :row="item">
        <td v-for="(column, index) in columns"
            :key="index">
            <div v-if = "column === 'Группа'">
              <a href="#" @click="load_group(item)">{{itemValue(item, column)}}</a>
           </div>
           <div v-else-if = "column === 'Удалить'">
             <a href="#" @click="delete_group(item)">Удалить</a>
          </div>
          <div v-else>
            {{itemValue(item, column)}}
         </div>
        </td>
      </slot>
    </tr>
    </tbody>
  </table>
</template>
<script>
  export default {
    name: 'NodeGroupsTable',
    props: {
      columns: {
        type: Array,
        default: () => [],
        description: "Table columns"
      },
      data: {
        type: Array,
        default: () => [],
        description: "Table data"
      },
      type: {
        type: String, // striped | hover
        default: "",
        description: "Whether table is striped or hover type"
      },
      theadClasses: {
        type: String,
        default: '',
        description: "<thead> css classes"
      },
      tbodyClasses: {
        type: String,
        default: '',
        description: "<tbody> css classes"
      }
    },
    computed: {
      tableClass() {
        return this.type && `table-${this.type}`;
      }
    },
    methods: {
      hasValue(item, column) {
        return item[column.toLowerCase()] !== "undefined";
      },
      itemValue(item, column) {
        if (column==='Группа'){
           return item.GName; //.toLowerCase()];
        }
        if (column==='Описание'){
           return item.descr; //.toLowerCase()];
        }
        if (column==='UID'){
           return item.Uid; //.toLowerCase()];
        }
      },
      load_group(item){
//        console.log(item)
        this.$store.state.group = item;
      },
      delete_group(item){
        this.$store.state.group = item
        this.$store.dispatch('group_delete', item)
        .then(() =>{
              this.$store.dispatch('load_groups')
              .then(() =>{
                
              })
              .catch(err =>{
                this.error_p = err.toString()
              })
//              this.data = this.$store.state.groups
//            this.loading = false
//            this.loaded = true
        })
        .catch(err => {
          this.error_p = err.toString()
        });
      },
    }
  };
</script>
<style>
</style>
