<template>
  <div>
    <notifications></notifications>
    <router-view :key="$route.fullPath"></router-view>
  </div>
</template>

<script>
  export default {
    computed : {
     isLoggedIn : function(){ return this.$store.getters.isLoggedIn},
     isError : function () {return this.$store.getters.isError}
    },
    methods: {
      logout: function () {
        this.$store.dispatch('logout')
        .then(() => {
          this.$router.push('/') //login
        })
      },
      disableRTL() {
        if (!this.$rtl.isRTL) {
          this.$rtl.disableRTL();
        }
      },

      toggleNavOpen() {
        let root = document.getElementsByTagName('html')[0];
        root.classList.toggle('nav-open');
      }
    },
    mounted() {
      this.$watch('$sidebar.showSidebar', this.toggleNavOpen);
      this.$watch('$route', this.disableRTL, { immediate: true })
    }
  };
</script>

<style lang="scss"></style>
