<template>
  <card>
    <h5 slot="header" class="title">Редактор хоста</h5>
    <div class="row">
      <div class="col-md-3 pr-md-1">
        <label for="vue-ip-input">Ip хоста </label><br>
        <vue-ip-input v-model="model.Ip" :on-change="onIpChange" :ip="model.Ip"></vue-ip-input>
      </div>
      <div class="col-md-2 px-md-1">
        <base-input label="Интервал опроса"
                  placeholder="Интервал опроса"
                  v-model="model.Wst">
        </base-input>
      </div>
      <div class="col-md-2 px-md-1">
        <base-input label="Количество пингов"
                  placeholder="Количество пингов"
                  v-model="model.Wpc">
        </base-input>
      </div>
      <div class="col-md-1 px-md-1">
          <label for="checkbox">Включить опрос</label>
          <input type="checkbox" id="checkbox" v-model="model.enabled">
      </div>
      <div class="col-md-3 px-md-1">
        <label for="select">Группы</label><br>
        <select v-model="gr" multiple>
          <option v-for="grp in this.$store.state.groups" v-bind:key="grp.GName">
            {{ grp.GName }}
          </option>
        </select>
      </div>
    </div>
    <base-button slot="footer" type="primary" fill @click="node_save">Сохранить</base-button>
  </card>
</template>
<script>
import VueIpInput from 'vue-ip-input';
  export default {
    components: {
     VueIpInput
    },
    data() {
      return {
        loading: false,
        loaded : false,
        error_p: null,
        gr:[]
      }
    },
    props: {
      model: {
        type: Object,
        default: () => {
          return {
            Ip: "Undefined"
          };
        }
      },
      selected :[]
    },
    created() {
    // загружаем данные, когда представление создано
    // и данные реактивно отслеживаются
    },
    methods: {
      onIpChange: function(ip) {
            this.model.Ip = ip
      },
      set_groups(){

      },
      node_save(model){
        this.error_p = null
        this.loading = true
        this.loaded = false
        this.model.groups = []
        this.$store.state.groups.forEach((element) => {
            this.gr.forEach((g) =>{
              if (g === element.GName){
                this.model.groups.push(element)
              }
           })
        })
//        console.log("mod.groups = " + this.model.groups)
        this.$store.dispatch('save_node', this.model)
        .then(() =>{
            this.loading = false
            this.loaded = true
        })
        .catch(err => {
          this.error_p = err.toString()
        })

      }
    }
  }
</script>
<style>
</style>
