<template>
  <card>
    <h5 slot="header" class="title">Редактор Группы</h5>
    <div class="row">
      <div class="col-md-5 pr-md-1">
        <base-input label="Node Group Name"
                  placeholder="Group Name"
                  v-model="model.GName"
                  >
        </base-input>
      </div>
      <div class="col-md-3 px-md-1">
        <base-input label="Description"
                  placeholder="Description"
                  v-model="model.descr">
        </base-input>
      </div>
    </div>
    <base-button slot="footer" type="primary" fill @click="group_save">Сохранить</base-button>
  </card>
</template>
<script>
  export default {
    props: {
      model: {
        type: Object,
        default: () => {
          return {};
        }
      }
    },
    methods:{
      group_save(model){
        this.error_p = null
        this.loading = true
        this.loaded = false
//        console.log(this.model)
//        console.log("mod.groups = " + this.model.groups)
        this.$store.dispatch('group_save', this.model)
        .then(() =>{
            this.loading = false
            this.loaded = true
            this.$store.dispatch('load_groups')
            .then(() =>{
              
            })
            .catch(err =>{
              this.error_p = err.toString()
            })
        })
        .catch(err => {
          this.error_p = err.toString()
        })
      }
    },
  }
</script>
<style>
</style>
